body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto; 
}

header, main, footer {
  padding-left: 300px;
}

.parallax-container {
  height: 400px;
}

hr {
  margin-top: 8px !important;
  border-top: 0px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.small-img {
  height: auto;
  width: 60px;
}

.margin-top {
  margin-top: 20px;
}

.no-margin-top {
  margin-top: 0px !important;
}

.user-view {
  height: 250px;
}

.first-section {
  height: 250px;
}

#logo {
  width: 50% !important;
  height: auto !important;
  margin: auto;
}

#name {
  font-size: 1.3em;
}

.home-section {
  width: 100%;
}

/* Small tweak to display parallax imgs without js*/
.parallax-container {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Open the sidenav when javascript is disabled */
#slide-out {
	transition: all 0.5s;
}

#slide-out:target {
	transform: translateX(0%) !important;
	transition: all 0.5s;
}

.rounded {
  border-radius: 5px;
}

#menu-btn-img {
  width: 70%;
  max-width: 300px;
  padding: 1%;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}