<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Ignamarte</title>
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/base.css">
  </head>

  <body>
    <ul id="slide-out" class="sidenav sidenav-fixed">
      <li>
        <div class="user-view center-align">
          <div class="background">
          </div>
          <a href="index.html"><img class="circle z-depth-2" id="logo" src="images/logo.jpg"></a>
          <span class="black-text name" id="name">Ignamarte</span>
        </div>
      </li>
      <li><div class="divider"></div></li>
      <li class="{% block ld_class %}{% endblock %}">
      	<a class="waves-effect" href="level_design.html">Level design</a>
      	</li>
      <li class="{% block sd_class %}{% endblock %}">
      	<a class="waves-effect" href="dev.html">Software</a></li>
      <li><div class="hide-on-large-only divider"></div></li>
      <li><a href="#close" class="hide-on-large-only sidenav-close">Close</a></li>
    </ul>
    
    <main>
      <a href="#slide-out" data-target="slide-out" class="hide-on-large-only sidenav-trigger">
        <img id="menu-btn-img" class="responsive-img" src="images/swipe.png" alt=":hamburger_menu_icon/emoji:" />
      </a>
      {% block main %}{% endblock %}
    </main>
      
    <footer class="page-footer indigo lighten-2">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Ignamarte.net</h5>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="https://gitlab.com/Ignamarte">Gitlab</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          </p>
          	This website works fine without javascript on a modern browser
          <p>
          <p class="tooltipped" data-position="top" data-tooltip="What do you mean 'static website' ?">
            &copy; Ignamarte [[current_year]] <noscript>Static websites ???</noscript>
        </div>
      </div>
    </footer>
  
  </body>

  <script src="js/materialize.js"></script>
  {% block js %}{% endblock %}
  <script type="text/javascript">  

  // Inititate tooltip
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.tooltipped');
    var instances = M.Tooltip.init(elems, {});
  });
    
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, {draggable: true});
  });

  </script>
</html>
