{% extends "common/base.html" %}

{% block sd_class %}active{% endblock %}

{% block main %}

<div class="container first-section">
  <div class="row">
    <div class="col s12 center-align">
        <h2 class="header">Software</h2>
        <h5 class="light">Sofwares and various tools.</h5>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col s12">
      <img class="circle right" src="images/dev/tress_logo.png" alt="Tress' logo" style="max-height: 5em;"/>
      <h4>
      Tress
      </h4>
      <p>A simple yet functional Twitch client.</p>
      <img class="responsive-img" src="images/dev/tress_screenshot.png" alt="Screenshot of Tress" />
      <p>
        I made this software in order to gain experience with the Scala programming language.
        While It is not perfect, it's still usable as a daily driver for watching your twitch streams.
      </p>
      <h5>Downloads:</h5>
      <a href="files/Tress.exe" class="waves-effect waves-light indigo lighten-2 btn" target="blank">windows</a>
      <a href="files/Tress.jar" class="waves-effect waves-light indigo lighten-2 btn" target="blank">linux</a>
      <a href="https://gitlab.com/ignamarte/tress" class="waves-effect waves-light indigo lighten-2 btn" target="blank">source</a>
      <p>Keep in mind that you need Java 11 or higher installed !</p>
    </div>
  </div>
</div>

{% endblock %}
