{% extends "common/base.html" %}

{% block main %}

<div class="container first-section">
  <div class="row">
    <div class="col s12 center-align">
        <h2 class="header">Welcome !</h2>
        <h5 class="light">This website compiles the stuff I made</h5>
    </div>
  </div>
</div>
<hr>
<div class="container">
<div class="row">
    <div class="col s12 offset-m2 m8 offset-l1 l10">
      <div class="card">
        <div class="card-image">
          <a href="https://www.pexels.com/photo/photo-of-person-s-hands-holding-candle-lamp-3403863/" target="_blank">
			<img src="images/card-bg.jpg">
          </a>
          <span class="card-title">About</span>
        </div>
        <div class="card-content">
          <p>Who reads this anyway ?</p>
        </div>
        <div class="card-action">
          <a href="https://www.pexels.com/photo/person-holding-kerosene-lantern-1634845/">Current avatar</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
