{% extends "common/base.html" %}

{% block ld_class %}active{% endblock %}

{% block main %}

<div class="container first-section">
  <div class="row">
    <div class="col s12 center-align">
        <img class="circle small-img margin-top" src="images/maps/hammer.png" alt="hammer">
        <h2 class="header no-margin-top">Level design</h2>
        <h5 class="light">Various maps for Counter Strike: Source and Portal 2.</h5>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h4>Portal 1 to Portal 2</h4>
      <p>
        A project aiming at recreating the destruction found in early levels of
        Portal 2 in Portal 1 levels.
      </p>
      <a href="files/testchmb_00.zip" class="waves-effect waves-light indigo lighten-2 btn">
        download map N&ring;1
      </a>
    </div>
  </div>
</div>
<div class="parallax-container" style="background-image: url('images/maps/screenshots/p1to2.jpg');"></div>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h4>Ba Jail Aperture Science</h4>
      <p>
        A ba jail map for Counter-Strike: Source inspired by Portal 1.
      </p>
      <a href="files/ba_jail_aperture_v3beta.zip" class="waves-effect waves-light indigo lighten-2 btn">
        download
      </a>
    </div>
  </div>
  <div class="row">
  	<div class="col s12">
  	  <a class="right" href="https://gamebanana.com/mods/129030"><img src="https://gamebanana.com/mods/embeddables/129030?type=medium"/></a>
  	</div>
  </div>
</div>
<div class="parallax-container" style="background-image: url('images/maps/screenshots/bj.jpg');"></div>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h4>Unamed Portal 2 map</h4>
      <p>
        A fully functionnal Portal 2 level.
      </p>
      <a href="files/sp_ramp_and_walls.zip" class="waves-effect waves-light indigo lighten-2 btn">
        download
      </a>
    </div>
  </div>
</div>
<div class="parallax-container" style="background-image: url('images/maps/screenshots/ramps.jpg');"></div>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h4>Unamed Walking simulator</h4>
      <p>
        A showcase map without any real purpose.
      </p>
      <a href="files/sp_walking_simulator.zip" class="waves-effect waves-light indigo lighten-2 btn">
        download
      </a>
    </div>
  </div>
</div>
<div class="parallax-container" style="background-image: url('images/maps/screenshots/walkingsim.jpg');"></div>

{% endblock %}
